<div class="navbar">
    <div class="logo">
        <img src="" alt="">
    </div>
    <hr>
    <nav class="mainNavbar">
        <ul>
            <li><a routerLink="/"><div>Accueil</div></a></li>
            <li><a routerLink="/demo"><div>Demonstration</div></a></li>
            <li><a routerLink="/demo/binding"><div>Demo - Binding</div></a></li>
            <li><a routerLink="/demo/pipe"><div>Demo - Pipe</div></a></li>
            <li><a routerLink="/exo"><div>Exercices</div></a></li>
            <li><a routerLink="/exo/chronometre"><div>Exercices - chronometre</div></a></li>
        </ul>
    </nav>
    <hr>
</div>

